<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include ('../partials/menu.ejs') %>
=======
<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
>>>>>>> a4dd3b2c9034ef8fefb017e197f9b7f21aed43cb

<main>
  <div class="container">
    
    </div>
  </div>
</main>
